body {
    background: linear-gradient(105deg, wheat, teal, rgb(38, 95, 151), black);
}

.navbar {
    border-radius: 0 0 2px 2px;
    backdrop-filter: blur(25px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.active {
    color: rgb(241, 102, 102) !important;
}

.container {
    column-count: 3;
    column-gap: 20px;
    min-width: 100%;
    padding: 20px;
}

.card {
    background-color: #333;
    box-shadow: 0px 0px 15px 3px black;
    color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    break-inside: avoid;
}


.card h5 {
    background-color: #742ee5;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.card p {
    color: rgb(169, 166, 166);
}

code {
    color: lime;
}

.kubernetes h5 {
    background-color: rgb(166, 41, 160);
}


.minikube h5 {
    background-color: rgb(237, 75, 53);
}

@media (max-width: 1300px) {
    .container {
        column-count: 2;
    }
}

@media (max-width: 1000px) {
    .container {
        column-count: 1;
    }
}